@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-control {
    z-index: 0 !important;
}

.btn-color {
    background-color: #F6FEAA;
}

.btn-color:hover {
    background-color: #e3f91b;
}